<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tldgen/src/test/genlib/tools.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sun.tools.javadoc.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-private -doclet org.loom.tldgen.TldDoclet &#13;&#10;-sourcepath src/main/java:../loom-core/src/main/java &#13;&#10;-subpackages org.loom.addons &#13;&#10;-tldFile src/main/resources/META-INF/loom-addons.tld &#13;&#10;-displayName &quot;Loom Addons Tag Library&quot; &#13;&#10;-name loom-addons &#13;&#10;-uri &quot;http://loom.extrema-sistemas.org/loom-addons.tld&quot; &#13;&#10;-htmlFolder build/docs/tlddoc"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tldgen"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:loom-addons}"/>
</launchConfiguration>
